@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700,800&display=swap');*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --background-color: #C9E4CA;

    --primary-color: #3B6064;
    --secondary-color: #55828B;

    --btn-color: #55828B;
    --btn-hover-color: #87BBA2;

    --font-color: #364958;
    --light-font-color: #C9E4CA;

    --shadow-color: #364958;
}

* {
    margin: 0;
    padding: 0;
    font-size: 20pt;
    box-sizing: border-box;
    color: var(--font-color);
}

.container {
    position: fixed;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, var(--secondary-color) 0%, var(--background-color) 100%);
}

.todolist {
    background-color: var(--primary-color);
    border-radius: 10px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    box-shadow: 0 10px 35px var(--shadow-color);
}

.title {
    text-align: center;
    padding: 20px;
    color: var(--light-font-color);
    text-shadow: 0 5px 10px var(--shadow-color);
}

.todos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.fa-solid
{
    margin-right: 10px;
}

.todo_element {
    display: flex;
    min-height: 50px;
    margin: 0 10px 10px 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: var(--light-font-color);
    box-shadow: 0 10px 15px var(--shadow-color);
}

.todo_element:hover span
{
    width: 25px;
    opacity: 1.0;
    margin-left: 5px;
    margin-right: 10px;
    transition: 500ms;
}
.todo_element span
{
    transition: 500ms;
}

button {
    color: var(--light-font-color);
    background-color: var(--btn-color);
    border: none;
    border-radius: 10px;
    width: 50%;
    height: 50px;
    align-self: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 250ms;
}
button:hover {
    background: var(--btn-hover-color);
    border: 2px solid var(--font-color);
    transition: 250ms;
    color: var(--font-color);
}

input{
    background-color: var(--btn-color);
    border-radius: 10px;
    width: 75%;
    height:50px;
    align-self: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 0.5px;
    padding-left:25px;
    border: 3px solid var(--font-color);
    color: var(--font-color);
    transition: 150ms;
}

input::placeholder
{
    color: var(--light-font-color);
}


input:focus {
    background: var(--btn-hover-color);
    outline:none;
    transition: 150ms;
}

input:focus::placeholder
{
    color: var(--font-color);
}

.checked{
    color: var(--font-color);
    background-color: var(--btn-hover-color);
    text-decoration:line-through;
    transition: 200ms;
}